body {
    background-color:darkslategrey;
    
}
.myimage{
    border-radius: 5px;
}
.heading{
    color: white;
}
.resumediv{
    display: flex;
    justify-content: center;
}
/* .navbar{
    background-color: black;

} */
/* .carousel-item img {
    width: 100%;
    height: auto;
} */
/* .social_icon ul {
    list-style: none;
    padding: 0;
} */
.social_icon ul li {
    display: inline-block;
    margin-right: 10px;
}
.social_icon ul li a {
    text-decoration: none;
    color: #333;
}
.resume-section,
.portfolio-section,
.contact-section {
    padding: 180px;
}
.resjume-section
.project,
.portfolio-section
.container_main {
    margin-bottom: 20px;
    text-align: center;
}
/* .btn-main {
    margin-top: 10px;
} */
.footer {
    background-color:gray;
    padding: 20px 0;
    text-align: center;
}




/* Basic reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
} */

/* About section styles */
.about-section {
    background-color: #f1f1f1;
    padding: 70px 20px;
    text-align: center;
}

.about-section h2 {
    font-size: 35px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.about-section p {
    font-size: 22px;
    line-height: 1.5;
    color: black;
    max-width: 880px;
    margin: 0 auto;
}

.about-section p::first-letter {
    font-size: 40px;
    font-weight: bold;
    padding-right: 5px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .about-section h2 {
        font-size: 2em;
    }

    .about-section p {
        font-size: 1em;
    }
}



.footer {
    background-color: #343a40;
  }
  
  .footer h5 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  
  .footer p {
    font-size: 20px;
  }
  